<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_boomerang_attack_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,88},{84,82}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,94},{84,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,826},{92,80}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,95},{92,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,504},{88,78}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,97},{88,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,284},{42,84}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,91},{42,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,114},{42,98}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,77},{42,98}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,718},{38,114}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,61},{38,114}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,122}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,54},{38,122}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,570},{38,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,67},{38,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,438},{46,96}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,80},{46,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,412},{84,86}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,89},{84,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,826},{90,70}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,105},{90,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,192},{90,82}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,94},{90,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,88},{82,80}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,96},{82,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,426},{92,76}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,99},{92,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,274},{46,84}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,91},{46,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,228},{44,98}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,78},{44,98}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,112}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,63},{38,112}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,120}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,55},{38,120}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,460},{40,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,67},{40,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,680},{44,94}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,81},{44,94}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,930},{92,86}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,90},{92,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,180},{86,72}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,103},{86,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{86,82}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,93},{86,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,328},{90,80}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,96},{90,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,500},{86,76}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,99},{86,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,588},{44,84}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,91},{44,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,338},{44,98}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,77},{44,98}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,124},{42,112}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,63},{42,112}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{42,120}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,55},{42,120}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,116},{42,110}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,65},{42,110}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,680},{44,94}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,81},{44,94}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{88,84}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,91},{88,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,512},{90,76}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,99},{90,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,93},{90,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,324},{88,80}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,96},{88,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,824},{88,76}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,99},{88,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,268},{46,82}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,93},{46,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,632},{46,94}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,81},{46,94}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,238},{44,110}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,65},{44,110}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{42,118}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,57},{42,118}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,716},{44,112}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,63},{44,112}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,520},{48,92}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,83},{48,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,92},{86,84}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,91},{86,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,420},{90,78}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,98},{90,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,920},{92,80}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,96},{92,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,414},{88,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,98},{88,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,654},{90,74}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,102},{90,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,594},{48,78}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,97},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,614},{48,92}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,83},{48,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,350},{42,108}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,67},{42,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{42,116}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,59},{42,116}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,834},{44,112}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,63},{44,112}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,664},{44,92}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,84},{44,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,94},{88,84}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,92},{88,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,174},{82,80}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,96},{82,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,316},{82,80}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,96},{82,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,920},{92,76}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,99},{92,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{84,72}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,104},{84,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,274},{48,78}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,97},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,664},{46,92}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,83},{46,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,830},{42,106}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,69},{42,106}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{42,114}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,61},{42,114}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,602},{44,112}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,63},{44,112}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,536},{46,94}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,81},{46,94}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,178},{84,82}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,93},{84,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,944},{90,78}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,97},{90,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,734},{88,76}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,99},{88,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{86,72}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,103},{86,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,520},{92,70}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{92,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,604},{48,78}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,97},{48,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,776},{48,92}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,83},{48,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,680},{42,106}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,69},{42,106}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{40,114}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,61},{40,114}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,830},{42,112}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,63},{42,112}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{46,96}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,79},{46,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,100},{90,82}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,93},{90,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,746},{88,78}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,97},{88,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,644},{88,76}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,100},{88,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,322},{88,68}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,107},{88,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,184},{88,70}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,105},{88,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,264},{44,78}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,97},{44,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,826},{42,92}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,83},{42,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,460},{40,108}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,68},{40,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{38,114}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,62},{38,114}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{40,110}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,65},{40,110}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,328},{42,96}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,79},{42,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,920},{90,82}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,93},{90,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,184},{88,80}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,95},{88,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,914},{88,74}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,102},{88,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,758},{88,66}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,109},{88,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,90},{86,66}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,109},{86,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{42,78}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,97},{42,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,788},{40,92}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,83},{40,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,228},{38,108}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,68},{38,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{38,114}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,61},{38,114}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,350},{38,108}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,68},{38,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,830},{46,98}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,78},{46,98}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{82,84}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,92},{82,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_3_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,826},{92,82}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,94},{92,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_boomerang_attack_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:963317cfb9139bec0e7587242e1b5c93:1/1$</string>
            <key>textureFileName</key>
            <string>tower_boomerang_attack_3.png</string>
        </dict>
    </dict>
</plist>
