<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_damage_attack_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{60,84}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,104},{60,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,82}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,105},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,268},{56,80}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,105},{56,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,260},{56,80}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,104},{56,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,198},{60,82}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,102},{60,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,84}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,100},{64,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{64,82}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,101},{64,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,72},{64,80}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,102},{64,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,204},{62,80}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,102},{62,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,66},{62,84}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,103},{62,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{62,84}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,105},{62,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,138},{64,82}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,108},{64,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{68,80}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,109},{68,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,130},{66,82}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,106},{66,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_damage_attack_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{60,84}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,104},{60,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_damage_attack_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f20f6376fbd88d624a22e7cdef4e60ea:1/1$</string>
            <key>textureFileName</key>
            <string>tower_damage_attack_2.png</string>
        </dict>
    </dict>
</plist>
