<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ex1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,253},{47,43}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{47,43}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{71,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{71,83}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,253},{89,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{89,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{99,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{99,101}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{109,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{109,101}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex6.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,75},{111,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{115,105}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{113,71}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{113,71}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>ex9.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,188},{105,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{105,63}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>appear.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6fdd96e6fe6c7e603398efb5f80960:1/1$</string>
            <key>textureFileName</key>
            <string>appear.png</string>
        </dict>
    </dict>
</plist>
