<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_assassin_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,145},{39,59}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{39,59}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,145},{35,59}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{35,59}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,143},{39,59}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{39,59}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,192},{49,57}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{49,57}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,92},{61,49}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{61,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,94},{61,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{61,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,53},{63,43}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{63,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{65,45}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{65,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{61,45}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{61,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,286},{47,55}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{47,55}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,206},{55,57}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,274},{55,53}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{55,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,280},{51,55}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{51,55}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,182},{57,55}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{57,55}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,49},{61,49}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{61,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,100},{59,43}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{59,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,233},{57,39}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{57,39}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,126},{59,39}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{59,39}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,45},{63,45}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{63,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,45},{61,53}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{61,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,98},{59,47}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{59,47}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{63,41}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{63,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,100},{59,43}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{59,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{59,43}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{59,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,263},{55,43}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{55,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,326},{51,45}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{51,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,427},{51,51}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{51,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,425},{47,51}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{47,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,324},{51,45}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{51,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,231},{57,45}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{57,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,380},{53,45}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{53,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,378},{53,45}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{53,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,382},{51,41}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{51,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,243},{57,41}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{57,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,186},{57,45}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{57,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,184},{57,51}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{57,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,329},{51,53}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{51,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,425},{51,49}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{51,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{53,45}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{53,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{53,43}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{53,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,277},{41,47}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{41,47}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,308},{35,49}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{35,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,373},{39,45}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{39,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{53,43}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{53,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,49},{63,43}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{63,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{65,47}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{65,47}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{65,49}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{65,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,41}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{67,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{65,41}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{65,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,371},{51,43}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{51,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{431,167},{55,57}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{61,53}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{61,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{463,65},{59,47}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{59,47}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{63,41}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{63,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{63,147},{59,43}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{59,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{128,139},{59,43}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{59,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{55,43}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{55,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{415,277},{51,45}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{51,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{47,452},{51,51}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{51,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{255,425},{47,51}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{47,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{334,347},{51,45}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{51,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{301,239},{55,53}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{55,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{183,184},{57,45}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{57,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{59,335},{53,45}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{53,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{118,333},{53,45}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{53,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{228,382},{51,41}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{51,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{122,237},{57,41}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{57,41}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{57,45}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{57,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (26).png</key>
            <dict>
                <key>frame</key>
                <string>{{429,224},{57,51}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{57,51}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (27).png</key>
            <dict>
                <key>frame</key>
                <string>{{299,294},{51,53}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{51,53}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{153,427},{51,49}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,13},{51,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{177,331},{53,45}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{53,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{181,278},{51,55}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{51,55}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{57,382},{53,43}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{53,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{372,149},{57,55}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{57,55}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{400,57},{61,49}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{61,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{59,43}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{59,43}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{57,39}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{57,39}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{388,108},{59,39}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{59,39}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>monster_assassin_run_flip (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{63,45}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{63,45}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assassin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac700221bebfd6afad64d49fc246dc31:1/1$</string>
            <key>textureFileName</key>
            <string>assassin.png</string>
        </dict>
    </dict>
</plist>
