<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bat_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,396},{35,39}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{53,33}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,187},{43,37}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,468},{33,37}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{33,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,468},{37,37}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{37,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,156},{43,37}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,384},{39,35}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,363},{35,39}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,209},{39,41}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,291},{39,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,111},{33,45}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{33,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,80},{33,45}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{33,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,330},{35,39}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,115},{43,39}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{43,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,121},{43,37}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{39,41}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,267},{39,41}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,357},{37,39}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{35,47}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{35,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,37},{37,47}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{37,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,45},{39,45}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{39,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{39,43}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{39,43}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,283},{39,39}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,195},{41,41}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,279},{37,41}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{39,37}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,433},{33,39}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,400},{33,39}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,439},{35,39}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,250},{39,39}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,160},{41,41}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,238},{39,41}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,367},{33,39}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,39}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{53,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{43,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,365},{33,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,291},{37,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,41},{45,37}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{45,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,80},{43,39}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,308},{35,41}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{35,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{135,203},{39,41}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{129,324},{37,39}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{35,47}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{35,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{37,47}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{37,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{161,39},{39,45}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{39,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{47,146},{39,43}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{39,43}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{174,250},{39,39}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{186,125},{41,41}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{131,244},{37,41}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{43,345},{39,37}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{211,330},{33,39}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{88,318},{39,37}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{221,209},{33,39}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{35,39}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{39,39}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{41,41}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{180,168},{39,41}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{33,45}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{33,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{51,76},{33,45}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{33,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{35,39}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{43,39}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{43,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{190,86},{43,37}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{39,41}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_flip (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{45,226},{39,41}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d02fc3f435d7eb0c1372c12f37a233:1/1$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
