<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bat_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,228},{35,39}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{53,33}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,84},{43,37}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,265},{33,37}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{33,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,228},{37,37}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{37,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,82},{43,37}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,203},{39,35}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{35,39}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,158},{39,41}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{39,37}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,37},{33,45}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{33,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{33,45}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{33,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,238},{35,39}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{43,39}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{43,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,72},{43,37}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,123},{39,41}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,121},{39,41}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,189},{37,39}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,37},{35,47}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{35,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{37,47}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{37,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{39,45}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{39,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,41},{39,43}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{39,43}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,164},{39,39}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{41,41}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{37,41}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{37,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,199},{39,37}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{39,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{33,39}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,275},{33,39}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,205},{35,39}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,162},{39,39}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,115},{41,41}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,111},{39,41}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,242},{33,39}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,39}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{53,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,41},{43,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,240},{33,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,189},{37,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{45,37}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{45,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,74},{43,39}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,152},{35,41}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{35,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da5e8cf26c2dff2e65559e8dbe223392:1/1$</string>
            <key>textureFileName</key>
            <string>a.png</string>
        </dict>
    </dict>
</plist>
