<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bat_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,156},{35,39}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{53,33}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,41},{43,37}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,197},{33,37}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{33,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{37,37}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{37,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{43,37}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,119},{39,35}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,121},{35,39}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,156},{35,39}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{35,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{53,33}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{53,33}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,41},{43,37}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{43,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,197},{33,37}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{33,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{37,37}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{37,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,119},{39,35}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{39,35}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{37,47}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{37,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,37},{35,47}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{35,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,74},{39,43}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{39,43}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,115},{39,39}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,45},{41,41}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,80},{39,41}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,88},{37,39}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,37},{35,47}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{35,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{37,47}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{37,47}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{39,45}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{39,45}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,74},{39,43}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{39,43}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,115},{39,39}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{39,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,45},{41,41}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,80},{39,41}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,88},{37,39}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,82},{35,41}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{35,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,39}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{53,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{43,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,156},{33,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{37,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{45,37}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{45,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,41},{43,39}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,82},{35,41}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{35,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{33,39}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,39}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{53,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{43,41}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{43,41}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,156},{33,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{33,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{37,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{37,39}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>monster_bat_run_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{45,37}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{45,37}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bat2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7c1c9e5d92a702952a71e53d259d722:1/1$</string>
            <key>textureFileName</key>
            <string>bat2.png</string>
        </dict>
    </dict>
</plist>
