<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_dark_giant_run_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,160},{92,71}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{92,71}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{90,71}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,71}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,83},{96,65}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{96,65}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,81},{94,67}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{94,67}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,229},{92,69}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{92,69}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{94,71}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{94,71}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,150},{92,71}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{92,71}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,81},{92,73}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,73}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,300},{60,73}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{60,73}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,233},{58,79}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,1},{58,79}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,223},{60,79}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,1},{60,79}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,222},{62,79}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,156},{64,79}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,285},{66,77}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{66,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,293},{62,77}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{62,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{58,73}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{58,73}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,150},{94,77}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{94,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{96,77}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,81},{96,77}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{96,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,79}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,79}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{96,79}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,79}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{96,77}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{96,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{96,77}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{96,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>monster_dark_giant_run_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{96,77}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{96,77}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>darkG.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:743ddfe06bd9300dc887c17a6920fe4d:1/1$</string>
            <key>textureFileName</key>
            <string>darkG.png</string>
        </dict>
    </dict>
</plist>
