<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,38},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{12,14}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{12,14}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,20},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,16}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{12,16}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy1.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde76ac4ac1db6a80e284163637e06d2:1/1$</string>
            <key>textureFileName</key>
            <string>enemy1.png</string>
        </dict>
    </dict>
</plist>
