<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_ninja_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,129},{55,51}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{55,51}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{55,53}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{55,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,304},{53,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{53,41}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{57,39}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{57,39}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{57,49}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{57,49}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,182},{55,45}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{55,45}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,312},{53,39}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{53,39}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,53},{57,43}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{57,43}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,41}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,38},{65,41}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,49},{61,39}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{61,39}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,90},{57,37}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{57,37}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,347},{49,33}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,39},{49,33}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,372},{41,45}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{41,45}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,329},{41,51}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{41,51}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{63,49}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{63,49}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,53},{57,47}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{57,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,284},{53,43}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{53,43}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,206},{55,43}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{55,43}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{61,45}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{61,45}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{55,49}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{55,49}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,263},{53,47}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{53,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{61,47}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{61,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,353},{41,47}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,23},{41,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{41,47}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,23},{41,47}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{51,53}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{51,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,251},{51,53}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{51,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,102},{53,55}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{53,55}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,229},{53,53}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{53,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,208},{53,53}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{53,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{53,53}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{53,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,153},{51,55}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{51,55}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,157},{49,55}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{49,55}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
            <key>monster_ninja_run_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,98},{55,53}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{55,53}}</string>
                <key>sourceSize</key>
                <string>{95,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ninja.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec8f165465330e37ee06cc481553c4f:1/1$</string>
            <key>textureFileName</key>
            <string>ninja.png</string>
        </dict>
    </dict>
</plist>
