<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_oil_gun_attack_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{64,96}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,107},{64,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,176},{68,96}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,110},{68,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,406},{70,80}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,108},{70,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,246},{68,82}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,106},{68,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,382},{56,84}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,105},{56,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,290},{54,86}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,106},{54,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{46,88}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,107},{46,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,168},{40,92}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,105},{40,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,212},{38,90}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,107},{38,90}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,116},{42,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,108},{42,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{50,96}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,105},{50,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{66,96}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{66,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,58},{68,98}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,106},{68,98}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,438},{70,76}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,109},{70,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,316},{66,78}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,107},{66,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{70,78}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,108},{70,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,332},{64,82}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,107},{64,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,346},{58,84}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,108},{58,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,246},{50,88}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,106},{50,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{48,86}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,108},{48,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,212},{52,90}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,107},{52,90}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,60},{58,94}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,104},{58,94}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,210},{90,88}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,104},{90,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,118},{92,92}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,104},{92,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{86,72}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,107},{86,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,236},{84,66}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,112},{84,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,120},{92,68}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,111},{92,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,298},{86,72}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,110},{86,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,252},{86,74}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,110},{86,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,376},{76,76}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,111},{76,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,478},{68,74}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,113},{68,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,362},{74,80}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,109},{74,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,160},{82,86}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,105},{82,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{100,72}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,109},{100,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,74}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,109},{102,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,56},{94,60}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,111},{94,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,134},{90,56}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,115},{90,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,54}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{102,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,120},{98,54}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,117},{98,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,58}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,116},{102,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,54},{94,60}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,116},{94,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,302},{84,58}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,118},{84,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,192},{86,64}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,114},{86,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,128},{96,68}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,111},{96,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{96,56}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,117},{96,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,62},{98,56}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,117},{98,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,244},{86,56}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,117},{86,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,422},{84,54}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{84,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,50}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,124},{102,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{96,52}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,124},{96,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,48}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,123},{102,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,54},{100,50}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,119},{100,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,198},{88,52}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,119},{88,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,300},{88,54}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{88,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,76},{94,56}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,118},{94,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,106},{98,52}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,122},{98,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{98,54}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,122},{98,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,190},{90,54}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,124},{90,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,372},{86,48}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,128},{86,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,52},{100,62}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,119},{100,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,68},{94,56}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,131},{94,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{98,52}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,130},{98,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,116},{94,50}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,123},{94,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{84,52}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,121},{84,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,328},{86,52}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,121},{86,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,126},{92,52}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,122},{92,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,160},{88,52}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,126},{88,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,180},{90,54}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,126},{90,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,304},{82,54}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,127},{82,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,478},{80,52}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,127},{80,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,214},{86,74}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,111},{86,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,266},{82,64}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,129},{82,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,258},{84,62}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,130},{84,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,304},{76,48}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{76,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,356},{68,52}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,124},{68,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,424},{72,54}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,122},{72,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,322},{82,52}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,124},{82,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{68,54}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,123},{68,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,548},{70,56}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,123},{70,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,532},{72,56}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,122},{72,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,510},{70,56}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,122},{70,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,440},{66,80}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,105},{66,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,590},{66,68}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,125},{66,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,454},{62,70}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,126},{62,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,518},{52,54}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,127},{52,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,382},{48,54}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,123},{48,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,480},{52,54}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,123},{52,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,436},{60,52}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,125},{60,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{72,54}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,122},{72,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,508},{74,54}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,121},{74,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,384},{78,54}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,121},{78,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,360},{74,58}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,120},{74,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,360},{62,78}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,104},{62,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,398},{60,66}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,123},{60,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,564},{48,70}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,124},{48,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,246},{40,58}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,124},{40,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,306},{38,52}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,123},{38,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,440},{46,52}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,123},{46,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_0_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,440},{54,52}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,123},{54,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_oil_gun_attack_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73fc050a4342251f73e1a4bde63a1b3c:1/1$</string>
            <key>textureFileName</key>
            <string>tower_oil_gun_attack_0.png</string>
        </dict>
    </dict>
</plist>
