<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_boomerang_attack_0_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{30,60}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,107},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,488},{30,58}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,109},{30,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,406},{30,56}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,111},{30,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,342},{28,70}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,98},{28,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,242},{28,82}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,86},{28,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,134},{28,96}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,71},{28,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,74},{28,102}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,66},{28,102}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,208},{26,88}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,79},{26,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,256},{26,78}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,89},{26,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,330},{28,70}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,97},{28,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,496},{28,58}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,110},{28,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,470},{32,60}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,108},{32,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,482},{30,58}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,109},{30,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,474},{30,58}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,110},{30,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,312},{28,72}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,96},{28,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,236},{28,84}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,84},{28,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,120},{30,96}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,72},{30,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,70},{30,102}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,66},{30,102}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,166},{32,90}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,78},{32,90}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{34,80}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,88},{34,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,360},{30,70}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,98},{30,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,412},{34,56}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,111},{34,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,342},{32,62}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,106},{32,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,442},{32,60}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,108},{32,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,498},{32,58}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,110},{32,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,300},{28,74}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,94},{28,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{30,86}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,82},{30,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,132},{32,98}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,70},{32,98}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,40},{32,102}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,66},{32,102}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,152},{40,90}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,78},{40,90}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,256},{42,78}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,90},{42,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{36,70}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,98},{36,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,422},{40,58}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,110},{40,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,432},{30,62}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,106},{30,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,536},{30,60}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,108},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{30,58}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,110},{30,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,310},{30,74}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,94},{30,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,210},{30,86}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,82},{30,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{32,98}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,70},{32,98}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{34,102}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,66},{34,102}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,166},{42,92}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,77},{42,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,266},{44,74}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,94},{44,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{42,66}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,102},{42,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,438},{38,58}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,110},{38,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,508},{30,60}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,108},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,472},{30,60}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,108},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,440},{30,60}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,109},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,40},{30,76}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,93},{30,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,200},{30,88}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,81},{30,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{32,100}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,69},{32,100}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,32},{34,106}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,63},{34,106}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{40,92}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,77},{40,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,308},{44,72}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,96},{44,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,354},{42,62}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,106},{42,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,434},{38,60}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,109},{38,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,360},{30,62}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,106},{30,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{30,60}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,108},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{32,60}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,108},{32,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{30,74}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,95},{30,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,194},{32,88}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,81},{32,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,34},{34,102}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,67},{34,102}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{36,106}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,63},{36,106}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,164},{42,94}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,75},{42,94}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,72},{46,74}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,95},{46,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,360},{42,60}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,109},{42,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,398},{40,60}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,109},{40,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{30,62}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,107},{30,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,404},{30,62}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,107},{30,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,374},{30,62}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,107},{30,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,284},{30,74}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,95},{30,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,194},{30,88}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,81},{30,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,68},{30,102}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,67},{30,102}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,108}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,61},{34,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{40,96}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,73},{40,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,262},{44,74}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,95},{44,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,448},{38,60}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,109},{38,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,392},{40,60}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,109},{40,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,342},{30,64}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,106},{30,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{30,62}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,108},{30,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,504},{30,60}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,109},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,300},{28,74}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,95},{28,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,232},{28,86}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,83},{28,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{28,102}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,67},{28,102}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{30,108}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,61},{30,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,104},{32,96}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,73},{32,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,272},{36,74}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,95},{36,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,476},{30,60}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,109},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,406},{34,60}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,109},{34,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,372},{30,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,107},{30,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,436},{32,60}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,109},{32,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{30,60}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,109},{30,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{28,74}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,95},{28,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,228},{26,88}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,82},{26,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,102},{28,100}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,69},{28,100}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{28,108}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,62},{28,108}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,138},{26,96}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,74},{26,96}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,336},{26,74}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,96},{26,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,568},{28,60}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,109},{28,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_boomerang_attack_0_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,540},{28,60}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,110},{28,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_boomerang_attack_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ae9a8cb3a33486e489e9f2a6e8a697c:1/1$</string>
            <key>textureFileName</key>
            <string>tower_boomerang_attack_0.png</string>
        </dict>
    </dict>
</plist>
