<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{117,126}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,57},{117,126}}</string>
                <key>sourceSize</key>
                <string>{247,246}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{154,164}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{154,164}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,172},{182,190}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{182,190}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,210}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{194,210}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{196,168}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,54},{196,168}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,516},{162,138}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,58},{162,138}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,356},{160,140}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,52},{160,140}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,356},{180,158}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{180,158}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>a9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{184,170}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,38},{184,170}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b3d7173501c533c9d6dd691f661790e:1/1$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
