<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_die_smoke_fx_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1588},{107,93}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{107,93}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1923},{121,99}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,48},{121,99}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2512},{133,113}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{133,113}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2723},{141,123}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{141,123}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2574},{147,127}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,35},{147,127}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2415},{157,131}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{157,131}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2248},{165,139}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{165,139}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2075},{171,145}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{171,145}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1896},{177,149}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{177,149}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1713},{181,153}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{181,153}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{183,157}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{183,157}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1341},{185,161}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{185,161}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{189,165}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{189,165}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{191,169}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{191,169}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{193,173}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{193,173}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{193,175}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{193,175}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3106},{183,181}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{183,181}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{185,185}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{185,185}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{189,187}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{189,187}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_smoke_fx_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,191}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{187,191}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>monster_die_soul_fx_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,464},{64,110}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,130},{64,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2158},{82,110}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,129},{82,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2394},{116,110}}</string>
                <key>offset</key>
                <string>{5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,128},{116,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2647},{146,120}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,123},{146,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2875},{154,142}}</string>
                <key>offset</key>
                <string>{7,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,109},{154,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2270},{108,122}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,121},{108,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2046},{86,110}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,118},{86,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1811},{86,110}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,114},{86,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1697},{86,112}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,111},{86,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1472},{86,114}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,106},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1356},{86,114}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,102},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1240},{82,114}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,98},{82,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,910},{76,112}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,93},{76,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,796},{76,112}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,88},{76,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,576},{72,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{72,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,3031},{72,108}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,80},{72,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,688},{74,106}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,76},{74,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2866},{76,108}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,70},{76,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2795},{78,106}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,67},{78,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1132},{78,106}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{78,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1024},{78,106}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{78,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3026},{78,104}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,53},{78,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3289},{78,102}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,50},{78,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2944},{80,102}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,45},{80,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,96},{56,94}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,41},{56,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{58,92}}</string>
                <key>offset</key>
                <string>{-16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,37},{58,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,192},{58,90}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,33},{58,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,374},{58,88}}</string>
                <key>offset</key>
                <string>{-13,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{58,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,284},{58,88}}</string>
                <key>offset</key>
                <string>{-12,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,26},{58,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,3197},{56,88}}</string>
                <key>offset</key>
                <string>{-8,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,23},{56,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,3031},{32,90}}</string>
                <key>offset</key>
                <string>{6,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,19},{32,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,3105},{26,90}}</string>
                <key>offset</key>
                <string>{10,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,16},{26,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_die_soul_fx_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,3289},{26,86}}</string>
                <key>offset</key>
                <string>{11,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,16},{26,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_die_fx.png</string>
            <key>size</key>
            <string>{256,3369}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87cea161b4703f04d3d5d67238c675f1:1/1$</string>
            <key>textureFileName</key>
            <string>monster_die_fx.png</string>
        </dict>
    </dict>
</plist>
