<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_oil_gun_attack_2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,556},{60,78}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,107},{60,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,434},{64,78}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,107},{64,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,358},{70,74}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,110},{70,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,810},{68,68}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,116},{68,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,358},{62,58}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,127},{62,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,500},{52,62}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,124},{52,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,808},{52,70}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,118},{52,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,678},{52,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,110},{52,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,656},{52,78}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,110},{52,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,198},{52,80}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,108},{52,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,558},{52,82}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{52,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,202},{76,80}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,103},{76,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,120},{78,80}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,103},{78,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,120},{80,76}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,106},{80,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,360},{78,72}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,110},{78,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,912},{72,62}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,121},{72,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,732},{70,62}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,122},{70,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,902},{70,68}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,118},{70,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,732},{60,76}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,111},{60,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,718},{54,76}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,110},{54,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,500},{56,78}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,108},{56,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,120},{66,82}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,102},{66,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{92,76}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,102},{92,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,76}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,102},{94,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{92,74}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,104},{92,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{90,70}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,108},{90,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,418},{80,58}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,120},{80,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,558},{86,58}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,121},{86,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,74},{90,44}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,136},{90,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,558},{84,64}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,117},{84,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,430},{74,68}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,113},{74,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,360},{74,70}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,110},{74,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,214},{82,74}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,105},{82,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{98,66}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,108},{98,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{98,68}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,107},{98,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{98,68}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,107},{98,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{92,64}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,110},{92,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,252},{84,52}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,122},{84,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,78},{92,46}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,129},{92,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,72},{98,46}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,129},{98,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,258},{98,48}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,126},{98,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,618},{86,54}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,121},{86,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,500},{84,56}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,118},{84,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{92,64}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,110},{92,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,736},{92,54}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,116},{92,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,642},{92,54}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,115},{92,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,674},{88,54}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,115},{88,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,194},{84,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,117},{84,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,506},{78,50}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,125},{78,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,306},{86,50}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,125},{86,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,558},{96,46}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,125},{96,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,456},{100,44}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,125},{100,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,558},{88,44}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,125},{88,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,418},{86,44}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,125},{86,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,68},{90,50}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,119},{90,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,358},{96,50}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,120},{96,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{96,54}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,119},{96,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{94,56}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,121},{94,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,922},{90,58}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,120},{90,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,248},{82,62}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,120},{82,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{90,64}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,121},{90,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{96,62}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,121},{96,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,158},{98,46}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,120},{98,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,418},{86,46}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,119},{86,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,648},{84,44}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,120},{84,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,312},{92,44}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,120},{92,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,830},{90,58}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,119},{90,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{92,60}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,119},{92,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{92,62}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,119},{92,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,644},{86,62}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,119},{86,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,432},{80,66}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,119},{80,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,120},{84,72}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,118},{84,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,126},{86,74}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,118},{86,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,358},{84,58}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,119},{84,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,786},{72,42}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,119},{72,42}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,734},{72,44}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,118},{72,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,506},{82,48}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,118},{82,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,618},{78,58}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,119},{78,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,830},{80,60}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,119},{80,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,556},{80,60}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,119},{80,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,298},{78,60}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,118},{78,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,736},{72,64}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,119},{72,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,830},{70,70}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,119},{70,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,284},{70,74}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,121},{70,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,794},{60,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,120},{60,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,946},{52,46}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,121},{52,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,312},{56,42}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,121},{56,42}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,262},{66,48}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,120},{66,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,880},{68,52}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,120},{68,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,796},{72,54}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,119},{72,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,638},{78,54}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,118},{78,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,730},{76,54}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,118},{76,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,204},{66,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,120},{66,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,880},{58,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,120},{58,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,974},{48,72}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,121},{48,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,870},{48,64}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,121},{48,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,936},{48,48}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,120},{48,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,936},{48,42}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,121},{48,42}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_2_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,934},{48,48}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,119},{48,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_oil_gun_attack_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52561821adab20f681ddbe061650ebd9:1/1$</string>
            <key>textureFileName</key>
            <string>tower_oil_gun_attack_2.png</string>
        </dict>
    </dict>
</plist>
