<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_oil_gun_attack_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,390},{60,84}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,102},{60,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,328},{64,84}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,101},{64,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,318},{70,86}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,98},{70,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,74},{68,88}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,96},{68,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,82},{60,88}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,97},{60,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,262},{52,90}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,96},{52,90}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{52,92}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,96},{52,92}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,240},{52,88}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,100},{52,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,450},{52,82}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,106},{52,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,414},{52,80}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,108},{52,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,446},{52,82}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,104},{52,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{76,80}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,103},{76,80}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,290},{78,82}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,101},{78,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,264},{80,82}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,100},{80,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,258},{78,84}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,98},{78,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,294},{72,84}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,99},{72,84}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,316},{70,86}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,98},{70,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{70,88}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,98},{70,88}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,202},{60,86}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,101},{60,86}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,410},{54,78}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,108},{54,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,458},{56,78}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,108},{56,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,368},{66,82}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,103},{66,82}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,126},{92,76}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,102},{92,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{94,76}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,102},{94,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,68},{94,74}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,104},{94,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,80},{90,74}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,104},{90,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,338},{80,74}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,104},{80,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,304},{86,76}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,103},{86,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{90,78}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,103},{90,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,212},{84,76}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,105},{84,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,468},{74,72}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,109},{74,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,314},{74,70}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,110},{74,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,338},{82,74}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,105},{82,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{98,68}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,107},{98,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{98,68}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,107},{98,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,68}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,107},{98,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{92,64}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,111},{92,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,144},{90,62}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,113},{90,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,184},{92,62}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,113},{92,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{98,64}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,111},{98,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{98,64}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,111},{98,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,144},{86,62}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,113},{86,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,382},{84,62}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,113},{84,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,194},{92,64}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,111},{92,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,260},{92,56}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,115},{92,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,204},{92,56}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,114},{92,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,144},{88,56}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,114},{88,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,208},{88,52}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,118},{88,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,72},{96,54}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,121},{96,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,52},{96,56}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,120},{96,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,72},{96,52}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,119},{96,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,56}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,115},{100,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,156},{88,54}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,116},{88,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,144},{86,54}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,117},{86,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,248},{90,54}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,116},{90,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,68},{96,54}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,117},{96,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,68},{96,54}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,119},{96,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,124},{94,58}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,119},{94,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,188},{90,60}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,118},{90,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{92,64}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,118},{92,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,110},{94,66}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,119},{94,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{96,64}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,119},{96,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{98,48}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,118},{98,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,208},{86,48}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,117},{86,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{84,48}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,117},{84,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{92,48}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,117},{92,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,178},{90,60}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,117},{90,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,124},{92,62}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,117},{92,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,128},{92,64}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,117},{92,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{86,64}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,117},{86,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,232},{80,68}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,117},{80,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,262},{84,74}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,116},{84,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,250},{86,76}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,116},{86,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,388},{84,60}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,117},{84,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,488},{72,44}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,117},{72,44}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,466},{72,46}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,116},{72,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,452},{82,50}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,116},{82,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,370},{80,60}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,117},{80,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,390},{80,62}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,117},{80,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,394},{82,62}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,117},{82,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,346},{80,62}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,116},{80,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,510},{74,66}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,117},{74,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,516},{72,72}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,117},{72,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,436},{72,78}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,117},{72,78}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,470},{62,68}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,116},{62,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,534},{54,50}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,117},{54,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,488},{56,46}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,117},{56,46}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,534},{68,52}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,116},{68,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,514},{68,52}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,120},{68,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,414},{72,54}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,119},{72,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,500},{78,54}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,118},{78,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,432},{76,54}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,118},{76,54}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,542},{66,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,120},{66,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,454},{58,64}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,120},{58,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,414},{50,72}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,120},{50,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,578},{50,66}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,119},{50,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,600},{50,48}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,120},{50,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,588},{50,48}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,116},{50,48}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_oil_gun_attack_3_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,568},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,117},{50,50}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_oil_gun_attack_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e6013cf922ec0212d76caf71097be89:1/1$</string>
            <key>textureFileName</key>
            <string>tower_oil_gun_attack_3.png</string>
        </dict>
    </dict>
</plist>
