<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_assassin_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{95,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{190,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{285,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{380,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{475,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{570,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{665,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{760,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{855,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{95,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{190,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{285,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{380,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{475,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{570,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{665,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{760,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{855,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{95,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{190,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{285,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{380,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{475,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{570,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{665,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{760,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{855,190},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{95,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{190,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{285,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{380,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{475,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{570,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{665,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{760,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{855,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{95,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{190,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{285,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{380,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{475,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{570,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{665,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{760,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_assassin_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{855,380},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>assassin.png</string>
            <key>size</key>
            <string>{950,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89d38b72bccf3cf55cc923f9c0cb3384:cc87ce492ddf17d9778cb16a56b8e8c1:f021cdec06bba582a69f212d45521e48$</string>
            <key>textureFileName</key>
            <string>assassin.png</string>
        </dict>
    </dict>
</plist>
