<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_satyr_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{112,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{224,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{336,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{448,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{560,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{672,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{784,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{896,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1008,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1120,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1232,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1344,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1456,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1568,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1680,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1792,0},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{0,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{112,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{224,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{336,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{448,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{560,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{672,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{784,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{896,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1008,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1120,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1232,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1344,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1456,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1568,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1680,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1792,143},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{0,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{112,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{224,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{336,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{448,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{560,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{672,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{784,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{896,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1008,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1120,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1232,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1344,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1456,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1568,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1680,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1792,286},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{0,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{112,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{224,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{336,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{448,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{560,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{672,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{784,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{896,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1008,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1120,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1232,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1344,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_satyr_run_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,143}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1456,429},{112,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>satyr.png</string>
            <key>size</key>
            <string>{1904,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e12da2abe69c32399a062ff85efc40a2:c85f74a7d3d6ffb2c3aa10be17399e56:eda2450ea6a484efd7aa9a6f8e5b365d$</string>
            <key>textureFileName</key>
            <string>satyr.png</string>
        </dict>
    </dict>
</plist>
