<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_wizard_attack_3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,524},{56,60}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,112},{56,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{56,60}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,111},{56,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{56,56}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,111},{56,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,636},{52,52}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,113},{52,52}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,290},{52,68}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,115},{52,68}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,302},{52,66}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,115},{52,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,418},{52,62}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,113},{52,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,618},{52,56}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,112},{52,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,582},{54,58}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,112},{54,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,418},{52,62}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,112},{52,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{52,62}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,112},{52,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,606},{50,58}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,112},{50,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,582},{52,56}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,113},{52,56}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{52,66}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,115},{52,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,364},{52,64}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,116},{52,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,570},{52,60}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,115},{52,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,590},{52,58}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,114},{52,58}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,564},{52,60}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,113},{52,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,480},{50,62}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,113},{50,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,498},{48,62}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,112},{48,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,444},{46,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,112},{46,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,472},{50,62}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,112},{50,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,444},{62,62}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{62,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,418},{62,60}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,115},{62,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,548},{56,60}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,114},{56,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,472},{50,62}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,113},{50,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,450},{50,62}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,112},{50,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{44,64}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,113},{44,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,400},{42,64}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,114},{42,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,68},{42,64}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,114},{42,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,356},{60,64}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,113},{60,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,68},{72,62}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,115},{72,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{72,62}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,115},{72,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,236},{68,64}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{68,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,302},{60,64}}</string>
                <key>offset</key>
                <string>{7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,113},{60,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,364},{52,64}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,113},{52,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,344},{52,64}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,114},{52,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,398},{50,64}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,114},{50,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,134},{46,64}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{46,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{66,64}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,114},{66,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,64}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{76,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,64}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{76,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,54},{74,64}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{74,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,180},{68,64}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{68,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{60,64}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,114},{60,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,382},{56,64}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,114},{56,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,440},{56,62}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,115},{56,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{52,62}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,116},{52,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,244},{68,62}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,116},{68,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,64}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,114},{76,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{74,62}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,115},{74,62}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{74,64}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{74,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,120},{70,64}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{70,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,316},{64,64}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,114},{64,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,508},{60,60}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,117},{60,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,502},{60,60}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,117},{60,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,532},{56,60}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{56,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,334},{66,64}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,113},{66,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,132},{68,64}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,113},{68,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{68,64}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,113},{68,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,200},{68,66}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,111},{68,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,268},{68,64}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,113},{68,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{64,60}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,117},{64,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,568},{58,60}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{58,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,508},{58,60}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{58,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,524},{56,60}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,117},{56,60}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,170},{60,70}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,107},{60,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,232},{56,70}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,107},{56,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,186},{56,70}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,107},{56,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,68},{58,72}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,105},{58,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,174},{60,70}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,107},{60,70}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,198},{60,66}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,111},{60,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,260},{54,66}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,111},{54,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,246},{54,66}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,111},{54,66}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,308},{54,64}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,113},{54,64}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,118},{50,74}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,103},{50,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,128},{50,72}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,105},{50,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,68},{50,74}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,103},{50,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{50,76}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,101},{50,76}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,66},{50,74}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,103},{50,74}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>tower_wizard_attack_3_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,120},{52,72}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,105},{52,72}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_wizard_attack_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fb8dc43eef23157ada7d0573ff85c6:1/1$</string>
            <key>textureFileName</key>
            <string>tower_wizard_attack_3.png</string>
        </dict>
    </dict>
</plist>
